{% extends "base.html" %}

{% load static %}

{% block title %}Dashboard | Credit Risk{% endblock %}

{% block content %}

<!-- page content -->
<div class="right" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Credit Risk Analytics</h3>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Inputs</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form class="form-horizontal form-label" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-md-3">Portfolio Name</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="form_portfolio_name_id">
                                        <option>Investment Grade</option>
                                        <option>Non-Investment Grade</option>
                                        <option>Balanced</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3" >Analytics Type</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="form_calculation_type_id">
                                        <option>Analytical</option>
                                        <option>Monte Carlo</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">Matrix Provider</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="form_trans_matrix_source_id">
                                        <option>Credit Metrics</option>
                                        <option>S and P</option>
                                        <option>Moodys</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 ">Correlation</label>
                                <div class="col-md-6">
                                    <select class="form-control" id="form_correlation_id">
                                        <option>0.1</option>
                                        <option>0.2</option>
                                    </select>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-success" onclick="button_run_portfolio_credit_risk()">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Results</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                    </div>
                </div>
            </div>
            <!-- /page content -->

{% endblock %}

{% block inlinejsbottom %}

    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function button_run_portfolio_credit_risk(){

            var portfolio_name = jQuery("#form_portfolio_name_id").val()
            var calculation_type = jQuery("#form_calculation_type_id").val()
            var trans_matrix_source = jQuery("#form_trans_matrix_source_id").val()
            var correlation = jQuery("#form_correlation_id").val()

            jQuery.ajax({
                    url: '{% url 'ajax_get_cred_risk_calcs' %}',
                    type: 'POST',
                    data: {'portfolio_name': portfolio_name,
                           'calculation_type': calculation_type,
                           'trans_matrix_source': trans_matrix_source,
                           'correlation': correlation
                            },
                    headers: {'X-CSRFToken': csrftoken,},
                    dataType: 'json',
                    success: function (response){
                        if (response.data)
                        {
                        console.log("fired the ajax")
                        }
                    },
                    failure: function (){
                        console.log("the AJAX call failed.....")
                    }
            });
        }
</script>
{% endblock %}
