{% extends "base.html" %}

{% load static %}

{% block title %}Dashboard | Home{% endblock %}

{% block content %}

        <!-- page content -->
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>1 Year Transition Matrix</h3>
                        <form class="form-horizontal form-label-left" method="post">
                            {% csrf_token %}
                            <label class="control-label col-md-3 col-sm-3 col-xs-3">Matrix Source</label>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <select class="form-control" id="matrix_source">
                                    <option>Credit Metrics</option>
                                    <option>Moodys</option>
                                    <option>SP Ratings</option>
                                </select>
                            </div>
                            <button type="button" class="btn btn-success" onclick="make_matrix_and_chart()">Submit</button>
                        </form>
                    <h5>Select a Matrix Source to get the one year transition matrix and chart</h5>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>


        <div class="row">

            <!-- div to hold the transition matrix -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" id="matrix_name_div_id"></div>
                    <div class="x_content" id="matrix_table_div_id">
                        <!-- the transition matrix table goes in here -->
                    </div>
                </div>
            </div>
            <!-- div to hold the transition matrix -->

            <!-- div to hold the graph -->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="x_panel">
                    <div class="x_title" id="chart_name_div_id"></div>
                    <div class="x_content" id="chart_content_div_id"></div>
                </div>
            </div>
            <!-- div to hold the graph -->

        </div>
        <!-- /page content -->

{% endblock %}

{% block inlinejsbottom %}

    <script>
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        function make_matrix_and_chart(){

            var matrix_source = jQuery("#matrix_source").val()
            jQuery.ajax({
                        url: '{% url 'ajax_get_trans_matrix' %}',
                        type: 'POST',
                        data: {'matrix_source': matrix_source},
                        headers: {'X-CSRFToken': csrftoken,},
                        dataType: 'json',
                        success: function (response){
                            if (response.data)
                            {
                                // ****************************************
                                // this block is for building the transition matrix
                                // ****************************************

                                // get target divs, these are static
                                matrix_name_div = document.getElementById("matrix_name_div_id")
                                matrix_table_div = document.getElementById("matrix_table_div_id")

                                // attributes of the name and table, to be set
                                var matrix_name_id = "matrix_name_id"
                                var table_id = "transition_matrix_table_id"
                                var table_class = "table table-bordered"

                                // remove name if exists, so two clicks doesn't make two names
                                var existing_name = document.getElementById(matrix_name_id)
                                if (existing_name){
                                    existing_name.remove()
                                }

                                // remove table if exists, so two clicks doesn't make two tables
                                var existing_table = document.getElementById(table_id)
                                if (existing_table){
                                    existing_table.remove()
                                }

                                // make name element for matrix div
                                var new_name_text = document.createTextNode(matrix_source + " 1 Yr Transitions")
                                var new_name_div = document.createElement("div")
                                new_name_div.setAttribute("id", matrix_name_id)
                                new_name_div.appendChild(new_name_text)
                                matrix_name_div.appendChild(new_name_div)

                                // make table element etc, table gets destroyed on button click
                                var new_table_obj = document.createElement("table")
                                new_table_obj.setAttribute("id", table_id)
                                new_table_obj.setAttribute("class", table_class)

                                // get transition matrix table and make thead and tbody elements
                                var thead = document.createElement("thead")
                                var tbody = document.createElement("tbody")

                                // get the ordered rating keys and matrix data
                                var rating_label_dict = response.data["ordered_keys"]
                                var rating_keys = Object.keys(rating_label_dict).sort()
                                var matrix_data = response.data["matrix_data"]

                                // make ordered labels for charting (ie: AAA, AA, A....)
                                var ordered_rating_labels = []
                                for (var k=1; k <= rating_keys.length; k++){
                                    ordered_rating_labels.push(rating_label_dict[k])
                                }

                                // start looping through rating keys and building rows and cells
                                // rating keys go 1-8, loop starts at 0 to account for label rpw and label column

                                var x_labels = []
                                var plot_series_list = []
                                for (var i=0; i < rating_keys.length; i++){

                                    var row = document.createElement("tr")
                                    var rating_level_data = []
                                    for (var j=0; j < rating_keys.length + 1; j++){

                                        if (i==0){
                                            // then this is the header row
                                            var cell = document.createElement("th")

                                            if (j==0){
                                                // this is a blank cell
                                                var cellText = document.createTextNode(" ")
                                            }else{
                                                // this is the rating label (AAA, AA, A, BBB...)
                                                var label = rating_label_dict[j]
                                                var cellText = document.createTextNode(label)
                                                x_labels.push(label)
                                            }
                                            cell.appendChild(cellText)
                                            row.appendChild(cell)
                                            thead.appendChild(row)

                                        } else{
                                            // these are the data rows

                                            if (j==0){
                                                // this is a row label
                                                var label = rating_label_dict[i]
                                                var cell = document.createElement("th")
                                                var cellText = document.createTextNode(label)
                                            }else{
                                                // this is the transition probability
                                                var prob = matrix_data[rating_label_dict[i]][rating_label_dict[j]]
                                                prob = prob.toFixed(2)
                                                var cell = document.createElement("td")
                                                var cellText = document.createTextNode(prob)
                                                rating_level_data.push(parseFloat(prob))
                                            }
                                            cell.appendChild(cellText)
                                            row.appendChild(cell)
                                            tbody.appendChild(row)
                                        }
                                    }
                                    if (rating_level_data){
                                        var data_series = {"name": label,
                                                           "data": rating_level_data
                                                           }
                                        plot_series_list.push(data_series)
                                    }

                                }
                                plot_series_list.shift() // removing the first entry because its a D row with no data

                                new_table_obj.appendChild(thead)
                                new_table_obj.appendChild(tbody)
                                matrix_table_div.appendChild(new_table_obj)
                                // ****************************************

                                // ****************************************
                                // this block is for making the chart
                                // ****************************************

                                // get target divs, these are static
                                chart_name_div = document.getElementById("chart_name_div_id")
                                chart_content_div = document.getElementById("chart_content_div_id")

                                // attributes of the name and table, to be set
                                var chart_name_id = "chart_name_id"
                                var chart_id = "chart_content_id"

                                // remove chart name if exists, so two clicks doesn't make two names
                                var existing_chart_name = document.getElementById(chart_name_id)
                                if (existing_chart_name){
                                    existing_chart_name.remove()
                                }

                                // remove table if exists, so two clicks doesn't make two tables
                                var existing_chart = document.getElementById(chart_id)
                                if (existing_chart){
                                    existing_chart.remove()
                                }

                                // make name element for chart div
                                var new_chart_name_text = document.createTextNode(matrix_source + " 1 Yr Transitions")
                                var new_chart_name_div = document.createElement("div")
                                new_chart_name_div.setAttribute("id", chart_name_id)
                                new_chart_name_div.appendChild(new_chart_name_text)
                                chart_name_div.appendChild(new_chart_name_div)

                                // make new div to contain chart
                                var new_chart_div = document.createElement("div")
                                new_chart_div.setAttribute("id", chart_id)
                                chart_content_div.appendChild(new_chart_div)

                                console.log(plot_series_list)

                                // make new highcharts object and send it to new_chart_div
                                var trans_matrix_chart = Highcharts.chart(chart_id, {
                                    chart: {type: "line"},
                                    title: {text: null},
                                    xAxis: {categories: x_labels, labels: {step: 1, rotation: -45}
                                            },
                                    yAxis: {lineWidth: 2, title:{enabled:false}
                                            },
                                    series: plot_series_list
                                });
                            }
                        },
                        failure: function (){
                            console.log("the AJAX call failed.....")
                        }
            });
        }

    </script>
{% endblock %}